# Heart Failure prediction

### What is the meaning of doing this project?

##### In humanity, one of the most cause of deaths registered is heart failure, that afflict the most part of the eldery people, but even though, we see adults passing away in a same way. Reviewing it, i found this dataset and searched a lot about the theme, of coursem i'm not a doctor or a specialist in the area, so if you have any doubts about you feel or you see in your own body, go to a doctor!

Importing libs and read the dataset for first view;

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import accuracy_score, mean_squared_error, roc_curve, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

db = pd.read_csv(r"C:\Users\Bruno Birello\Downloads\Datasets\heart_failure.csv\heart_failure_clinical_records_dataset.csv")
db.info()
db.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

After reading the dataset, we need to see the data, columns, how much strings and what type of info those data are

Spliting our dataset in x and y, where x represents all the columns unless the last, and y the opossite, it represents the last column that we will use to fit comparing to the x data

After Spliting our data, we need to create our model and fit it to the relevants data gathered on the dataset

In [2]:
x = db.iloc[:, :-1]
y = db.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state= 10 )
model = LogisticRegression()
model_fitted = model.fit(x_train, y_train)

c:\Users\Bruno Birello\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

We should predict our data test that we split before for better accuracy

In [20]:
y_pred = model_fitted.predict(x_test) 
print(accuracy_score(y_pred, y_test))

train_accuracy = model_fitted.score(x_train, y_train)
test_accuracy = model_fitted.score(x_test, y_test)

print("Train accuracy:", model_fitted.score(x_train, y_train))
print("Test accuracy:", model_fitted.score(x_test, y_test))

0.76
Train accuracy: 0.8258928571428571
Test accuracy: 0.76

Finishing our fit-predict job, we better test and see the results by ourself, so i created a new line that will choose a random number with the gaps from the Minimum to Maximus in every columns to new predict samples.

In [23]:
import numpy as np

min_age, max_age = min(x['age']), max(x['age'])
min_anaemia, max_anaemia = min(x['anaemia']), max(x['anaemia'])
min_creatinine, max_creatinine = min(x['creatinine_phosphokinase']), max(x['creatinine_phosphokinase'])
min_diabetes, max_diabetes = min(x['diabetes']), max(x['diabetes'])
min_ejection, max_ejection = min(x['ejection_fraction']), max(x['ejection_fraction'])
min_pressure, max_pressure = min(x['high_blood_pressure']), max(x['high_blood_pressure'])
min_platelets, max_platelets = min(x['platelets']), max(x['platelets'])
min_secreatinine, max_secreatinine = min(x['serum_creatinine']), max(x['serum_creatinine'])
min_sesodium, max_sesodium = min(x['serum_sodium']), max(x['serum_sodium'])
min_time, max_time = min(x['time']), max(x['time'])

new_line = pd.DataFrame({
    'age': np.random.randint(min_age, max_age, size=1),
    'anaemia': np.random.randint(min_anaemia, max_anaemia, size=1),
    'creatinine_phosphokinase': np.random.randint(min_creatinine, max_creatinine, size=1),
    'diabetes': np.random.randint(min_diabetes, max_diabetes, size=1),
    'ejection_fraction': np.random.randint(min_ejection, max_ejection, size=1),
    'high_blood_pressure': np.random.randint(min_pressure, max_pressure, size=1),
    'platelets': np.random.randint(min_platelets, max_platelets, size=1),
    'serum_creatinine': np.random.randint(min_secreatinine, max_secreatinine, size=1),
    'serum_sodium': np.random.randint(min_sesodium, max_sesodium, size=1),
    'sex': np.random.choice([0, 1]),  
    'smoking': np.random.choice([0, 1]), 
    'time': np.random.randint(min_time, max_time, size=1)
})

previsao = model_fitted.predict(new_line)
limite = 0.5
print(new_line)

if previsao[0] > limite:
    print("There is a high possibility of you be affected a heart failure.")
else:
    print("There is a low possibility of you be affected a heart failure.")

   age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0   52        0                      1072         0                 68

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    0     551247                 6           145    1

   smoking  time
0        0   129
There is a low possibility of you be affected a heart failure.